:root {
  --bg-color: #222222;
  --text-dark: #111111;
  --text-normal: #aaaaaa;
  --text-bright: #eeeeee;
  --accent-color: #0e97ee;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background: var(--bg-color);
  color: var(--text-normal);
  line-height: 31px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#err {
  position: fixed;
  width: 100%;
  color: var(--text-bright);
  background-color: rgb(128, 0, 0);
  text-align: center;
}

#topBtn {
  pointer-events: none;
  cursor: default;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  background-color: grey;
  color: #fff;
  border-radius: 50%;
  border: none;
  outline: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

#topBtn.shown {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

#topBtn:hover {
  background-color: #404040;
}

header {
  padding: 60px 0 80px;
  text-align: center;
}

header p {
  padding: 15px 0 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: capitalize;
}

nav {
  width: 263px;
  padding: 20px 0 0 20px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  user-select: none;
}

nav li a {
  background-color: var(--bg-color);
  border: 1px solid transparent;
}

nav a {
  display: block;
  padding: 0 20px;
  font-size: 15px;
  line-height: 31px;
}

nav a,
nav .nav .active .subnav a {
  font-weight: 400;
  border-left: 1px solid transparent;
  transition: color 0.075s linear;
}

nav a:hover,
nav .nav .subnav a:hover {
  padding: 0 20px;
  color: var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

nav .active a,
nav .active a:hover {
  padding: 0 19px;
}

nav .nav .subnav a,
nav .nav .subnav a:hover {
  padding: 0 20px 0 41px;
}

nav .nav .subnav .active a,
nav .nav .subnav .active a:hover {
  padding: 0 20px 0 40px;
}

nav .nav .subnav a {
  color: var(--text-normal);
}

nav .active a,
nav .nav .subnav .active a {
  font-weight: 700;
  color: var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

nav .nav .subnav {
  display: none;
}

nav .nav .active .subnav {
  display: block;
}

input[type=text],
textarea {
  outline: 0;
}

h1 {
  margin: 20px 0 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--text-bright);
}

h2 {
  margin: 20px 0 10px;
  font-size: 41px;
  font-weight: 300;
  line-height: 41px;
  color: var(--text-bright);
}

hr {
  margin: 40px 0 0;
  border-top: 1px solid var(--text-dark);
}

hr.short {
  width: 130px;
  border-top: 1px solid var(--text-normal);
}

ul {
  list-style: none;
}

a {
  color: var(--text-bright);
  text-decoration: none;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.inner {
  display: flex;
  min-height: 100vh;
}

.content {
  margin: 0 0 0 10px;
  flex-grow: 2;
  min-height: 200vh;
}

section {
  min-height: 100vh;
}

section div {
  margin: 50px 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 26px;
}

section div.form {
  line-height: 20px;
}

section div.form p,
section div.form label {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
}

section div.form label span {
  padding-right: 10px;
  width: 50px;
}

section div.form label input {
  flex-grow: 2;
  padding: 1px 5px;
  height: 18px;
  align-self: center;
  background-color: #ccc;
  border: 1px inset;
}

section div.form textarea[name=content] {
  width: 100%;
  height: 35vh;
  min-height: 100px;
  max-height: 80vh;
  resize: vertical;
  background-color: #ccc;
  border: 1px inset;
}

section div.form input[type=button],
section div.form input[type=submit] {
  margin: 20px;
  width: 100px;
  max-width: 100px;
  height: 30px;
  border: 1px outset;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
}

section div.form input[type=button]:focus,
section div.form input[type=submit]:focus,
section div.form input[type=button]:hover,
section div.form input[type=submit]:hover {
  background-color: #aaa;
}

section div.form input[type=button].active,
section div.form input[type=submit].active,
section div.form input[type=button]:active,
section div.form input[type=submit]:active {
  position: relative;
  top: 1px;
  left: 1px;
  background-color: #888;
  box-shadow: 0 0 1px #000;
}

#pi {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: default;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-dark);
  user-select: none;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  background-color: var(--text-normal);
  border: 1px solid var(--text-dark);
  border-radius: 20px;
  box-shadow: 5px 5px 10px #000;
  z-index: 10;
}

dialog input {
  width: 150px;
  text-align: center;
  background-color: var(--text-normal);
  border: 1px solid var(--text-dark);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

footer {
  border: 0;
  text-align: center;
  padding-bottom: 50px;
}

footer a img {
  border: 0;
  width: 80px;
  height: 15px;
}

.dragtobottom a {
  border-bottom: 1px solid #808080;
  border-top: 1px solid transparent;
}
.dragtomiddle a {
  background: #808080;
}
.dragtotop a {
  border-bottom: 1px solid transparent;
  border-top: 1px solid #808080;
}

.dragtobottom li a,
.dragtomiddle li a,
.dragtotop li a {
  background: transparent !important;
  border-bottom: 1px solid transparent !important;
  border-top: 1px solid transparent !important;
}
