* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background: var(--bg-color);
  color: var(--text-normal);
  font-family: var(--font-normal), var(--font-fallback);
  line-height: 31px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

#err {
  position: fixed;
  width: 100%;
  color: var(--text-bright);
  background-color: rgb(128, 0, 0);
  text-align: center;
}

#topBtn {
  pointer-events: none;
  cursor: default;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  background-color: grey;
  color: #fff;
  border-radius: 50%;
  border: none;
  outline: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

#topBtn.shown {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

#topBtn:hover {
  background-color: #404040;
}

header {
  padding: 60px 0 80px;
  font-family: var(--font-title), var(--font-fallback);
  text-align: center;
}

header p {
  padding: 15px 0 20px;
  font-family: var(--font-subtitle), var(--font-fallback);
  font-size: 21px;
  line-height: 1.4;
}

nav {
  width: 263px;
  padding: 20px 0 0 20px;
  position: sticky;
  top: 20px;
  font-family: var(--font-navlinks), var(--font-fallback);
  align-self: flex-start;
  user-select: none;
}

nav li a {
  background-color: var(--bg-color);
  border: 1px solid transparent;
}

nav a {
  display: block;
  padding: 0 20px;
  font-size: 15px;
  line-height: 31px;
}

nav a,
nav .nav .active .subnav a {
  border-left: 1px solid transparent;
  transition: color 0.075s linear;
  white-space: nowrap;
}

nav a:hover,
nav .nav .subnav a:hover {
  padding: 0 20px;
  color: var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

nav .active a,
nav .active a:hover {
  padding: 0 19px;
}

nav .nav .subnav a,
nav .nav .subnav a:hover {
  padding: 0 20px 0 41px;
}

nav .nav .subnav .active a,
nav .nav .subnav .active a:hover {
  padding: 0 20px 0 40px;
}

nav .nav .subnav a {
  color: var(--text-normal);
}

nav .active a,
nav .nav .subnav .active a {
  font-weight: 700;
  color: var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

nav .nav .subnav {
  display: none;
}

nav .nav .active .subnav {
  display: block;
}

input[type=text],
textarea {
  outline: 0;
}

h1 {
  margin: 20px 0 0;
  font-size: 48px;
  line-height: 1.8;
  color: var(--text-bright);
}

h2 {
  margin: 20px 0 10px;
  font-family: var(--font-headings), var(--font-fallback);
  font-size: 41px;
  font-weight: 400;
  line-height: 41px;
  color: var(--text-bright);
}

hr {
  margin: 40px 0 0;
  border-top: 1px solid var(--text-dark);
}

hr.short {
  width: 130px;
  border-top: 1px solid var(--text-normal);
}

ul {
  list-style: none;
}

a {
  color: var(--text-bright);
  text-decoration: none;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.inner {
  display: flex;
}

.content {
  margin: 0 0 0 10px;
  flex-grow: 2;
  min-height: 200vh;
}

section {
  min-height: 500px;
}

section:last-child {
  min-height: 100vh;
}

section div {
  margin: 50px 0;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 26px;
}

#pi {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: default;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-dark);
  user-select: none;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  background-color: var(--text-normal);
  border: 1px solid var(--text-dark);
  border-radius: 20px;
  box-shadow: 5px 5px 10px #000;
  z-index: 10;
}

dialog input {
  width: 150px;
  text-align: center;
  background-color: var(--text-normal);
  border: 1px solid var(--text-dark);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

footer {
  border: 0;
  text-align: center;
  padding-bottom: 50px;
}

footer a img {
  border: 0;
  width: 80px;
  height: 15px;
}
